#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [5]:
import pandas as pd
df = pd.read_csv('../2. Data/supermarket_sales.csv')

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [14]:
df.groupby('Branch')['gross income'].sum() #припускаю, що значення в колонці 'gross income'  є прибуток
# найбільший прибуток має філіал C

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [23]:
df.groupby('City')['gross income'].sum().sort_values(ascending=False)

City
Naypyitaw    5265.1765
Yangon       5057.1605
Mandalay     5057.0320
Name: gross income, dtype: float64

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [24]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [39]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Quantity', aggfunc='size')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [60]:
invoices_by_category.columns
invoices_by_category['Electronic accessories'].sort_values(ascending=False)[:1]

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

### Короткий опис 3 питань до завдання.
1. для яких категорій товару у клієнтів найбільше задоволення від покупок?  
2. на скільки клієнти лояльні до цих супермаркетів (мають картку лояльності)?  
3. товару якої цінової категорії купують найбільше в яких містах (визначення купівельної спроможності в даному регіоні)?

In [66]:
# 1. для яких категорій товару у клієнтів найбільше задоволення від покупок?
# в різних магазинах це різні категорії, тому тут може бути внутрішня причина, треба ці питання більш детально
# дослідити і поширювати цей досвід для інших категорій. Треба розширити асортимент в цих категоріх для залучення
# більшої кількості лояльних клієнтів.

rating_category = df.pivot_table(index='Product line', columns="City", values="Rating", aggfunc="mean"                               )
rating_category

City                    Mandalay  Naypyitaw    Yangon
Product line
Electronic accessories  7.116364   6.747273  6.911667
Fashion accessories     6.722581   7.440000  6.878431
Food and beverages      6.994000   7.080303  7.253448
Health and beauty       7.100000   6.998077  6.900000
Home and lifestyle      6.516000   7.060000  6.930769
Sports and travel       6.509677   7.028889  7.257627

In [86]:
# 2. на скільки клієнти лояльні до цих супермаркетів (мають картку лояльності)? 
# Картку лояльності, як правило, мають постійні клієнти, які є основою любого бізнесу, із проведеного аналізу 
# видно, що кількість покупців з карткою лояльності по усіх містах майже така ж як і клієнтів без картки.
# Рекомендую проводити більше маркетигнових заходів, спрямованих на підвищення долі покупців з картками.
# (ці показники краще дивитись у долях, проте конкретно у цьому випадку, неозброєним оком видно,
# що між категоріями паритет)

df.pivot_table(index='City', columns='Customer type', values='Branch', aggfunc='count')

Customer type  Member  Normal
City
Mandalay          165     167
Naypyitaw         169     159
Yangon            167     173

In [77]:
# 3. товару якої цінової категорії купують найбільше в яких містах
# (визначення купівельної спроможності по регіонах)?
# Логіка: чим вища середня ціна за одиницю ти вища купівельна спроможність у покупців, як правило, за вищу ціну
# можна купити якісніший товар
# З аналізу видно, що купівельна спроможність у містах практично однакова, думаю,
# варто асортимент товарів орієнтувати на середній сегмент покупців.

df.groupby('City')['Unit price'].mean().sort_values(ascending=False)

City
Naypyitaw    56.609024
Mandalay     55.659277
Yangon       54.780853
Name: Unit price, dtype: float64