#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [5]:
import pandas as pd
df = pd.read_csv('../2. Data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [14]:
df.groupby('Branch')['gross income'].sum() #–ø—Ä–∏–ø—É—Å–∫–∞—é, —â–æ –∑–Ω–∞—á–µ–Ω–Ω—è –≤ –∫–æ–ª–æ–Ω—Ü—ñ 'gross income'  —î –ø—Ä–∏–±—É—Ç–æ–∫
# –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –º–∞—î —Ñ—ñ–ª—ñ–∞–ª C

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [23]:
df.groupby('City')['gross income'].sum().sort_values(ascending=False)

City
Naypyitaw    5265.1765
Yangon       5057.1605
Mandalay     5057.0320
Name: gross income, dtype: float64

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [24]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [39]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Quantity', aggfunc='size')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [60]:
invoices_by_category.columns
invoices_by_category['Electronic accessories'].sort_values(ascending=False)[:1]

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

### –ö–æ—Ä–æ—Ç–∫–∏–π –æ–ø–∏—Å 3 –ø–∏—Ç–∞–Ω—å –¥–æ –∑–∞–≤–¥–∞–Ω–Ω—è.
1. –¥–ª—è —è–∫–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—É —É –∫–ª—ñ—î–Ω—Ç—ñ–≤ –Ω–∞–π–±—ñ–ª—å—à–µ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –≤—ñ–¥ –ø–æ–∫—É–ø–æ–∫?  
2. –Ω–∞ —Å–∫—ñ–ª—å–∫–∏ –∫–ª—ñ—î–Ω—Ç–∏ –ª–æ—è–ª—å–Ω—ñ –¥–æ —Ü–∏—Ö —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤ (–º–∞—é—Ç—å –∫–∞—Ä—Ç–∫—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ)?  
3. —Ç–æ–≤–∞—Ä—É —è–∫–æ—ó —Ü—ñ–Ω–æ–≤–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ –≤ —è–∫–∏—Ö –º—ñ—Å—Ç–∞—Ö (–≤–∏–∑–Ω–∞—á–µ–Ω–Ω—è –∫—É–ø—ñ–≤–µ–ª—å–Ω–æ—ó —Å–ø—Ä–æ–º–æ–∂–Ω–æ—Å—Ç—ñ –≤ –¥–∞–Ω–æ–º—É —Ä–µ–≥—ñ–æ–Ω—ñ)?

In [66]:
# 1. –¥–ª—è —è–∫–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—É —É –∫–ª—ñ—î–Ω—Ç—ñ–≤ –Ω–∞–π–±—ñ–ª—å—à–µ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –≤—ñ–¥ –ø–æ–∫—É–ø–æ–∫?
# –≤ —Ä—ñ–∑–Ω–∏—Ö –º–∞–≥–∞–∑–∏–Ω–∞—Ö —Ü–µ —Ä—ñ–∑–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó, —Ç–æ–º—É —Ç—É—Ç –º–æ–∂–µ –±—É—Ç–∏ –≤–Ω—É—Ç—Ä—ñ—à–Ω—è –ø—Ä–∏—á–∏–Ω–∞, —Ç—Ä–µ–±–∞ —Ü—ñ –ø–∏—Ç–∞–Ω–Ω—è –±—ñ–ª—å—à –¥–µ—Ç–∞–ª—å–Ω–æ
# –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ —ñ –ø–æ—à–∏—Ä—é–≤–∞—Ç–∏ —Ü–µ–π –¥–æ—Å–≤—ñ–¥ –¥–ª—è —ñ–Ω—à–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π. –¢—Ä–µ–±–∞ —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –≤ —Ü–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—Ö –¥–ª—è –∑–∞–ª—É—á–µ–Ω–Ω—è
# –±—ñ–ª—å—à–æ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ª–æ—è–ª—å–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤.

rating_category = df.pivot_table(index='Product line', columns="City", values="Rating", aggfunc="mean"                               )
rating_category

City                    Mandalay  Naypyitaw    Yangon
Product line
Electronic accessories  7.116364   6.747273  6.911667
Fashion accessories     6.722581   7.440000  6.878431
Food and beverages      6.994000   7.080303  7.253448
Health and beauty       7.100000   6.998077  6.900000
Home and lifestyle      6.516000   7.060000  6.930769
Sports and travel       6.509677   7.028889  7.257627

In [86]:
# 2. –Ω–∞ —Å–∫—ñ–ª—å–∫–∏ –∫–ª—ñ—î–Ω—Ç–∏ –ª–æ—è–ª—å–Ω—ñ –¥–æ —Ü–∏—Ö —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤ (–º–∞—é—Ç—å –∫–∞—Ä—Ç–∫—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ)? 
# –ö–∞—Ä—Ç–∫—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ, —è–∫ –ø—Ä–∞–≤–∏–ª–æ, –º–∞—é—Ç—å –ø–æ—Å—Ç—ñ–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏, —è–∫—ñ —î –æ—Å–Ω–æ–≤–æ—é –ª—é–±–æ–≥–æ –±—ñ–∑–Ω–µ—Å—É, —ñ–∑ –ø—Ä–æ–≤–µ–¥–µ–Ω–æ–≥–æ –∞–Ω–∞–ª—ñ–∑—É 
# –≤–∏–¥–Ω–æ, —â–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø—Ü—ñ–≤ –∑ –∫–∞—Ä—Ç–∫–æ—é –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –ø–æ —É—Å—ñ—Ö –º—ñ—Å—Ç–∞—Ö –º–∞–π–∂–µ —Ç–∞–∫–∞ –∂ —è–∫ —ñ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –±–µ–∑ –∫–∞—Ä—Ç–∫–∏.
# –†–µ–∫–æ–º–µ–Ω–¥—É—é –ø—Ä–æ–≤–æ–¥–∏—Ç–∏ –±—ñ–ª—å—à–µ –º–∞—Ä–∫–µ—Ç–∏–≥–Ω–æ–≤–∏—Ö –∑–∞—Ö–æ–¥—ñ–≤, —Å–ø—Ä—è–º–æ–≤–∞–Ω–∏—Ö –Ω–∞ –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è –¥–æ–ª—ñ –ø–æ–∫—É–ø—Ü—ñ–≤ –∑ –∫–∞—Ä—Ç–∫–∞–º–∏.
# (—Ü—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ –∫—Ä–∞—â–µ –¥–∏–≤–∏—Ç–∏—Å—å —É –¥–æ–ª—è—Ö, –ø—Ä–æ—Ç–µ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ —É —Ü—å–æ–º—É –≤–∏–ø–∞–¥–∫—É, –Ω–µ–æ–∑–±—Ä–æ—î–Ω–∏–º –æ–∫–æ–º –≤–∏–¥–Ω–æ,
# —â–æ –º—ñ–∂ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ –ø–∞—Ä–∏—Ç–µ—Ç)

df.pivot_table(index='City', columns='Customer type', values='Branch', aggfunc='count')

Customer type  Member  Normal
City
Mandalay          165     167
Naypyitaw         169     159
Yangon            167     173

In [77]:
# 3. —Ç–æ–≤–∞—Ä—É —è–∫–æ—ó —Ü—ñ–Ω–æ–≤–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ –≤ —è–∫–∏—Ö –º—ñ—Å—Ç–∞—Ö
# (–≤–∏–∑–Ω–∞—á–µ–Ω–Ω—è –∫—É–ø—ñ–≤–µ–ª—å–Ω–æ—ó —Å–ø—Ä–æ–º–æ–∂–Ω–æ—Å—Ç—ñ –ø–æ —Ä–µ–≥—ñ–æ–Ω–∞—Ö)?
# –õ–æ–≥—ñ–∫–∞: —á–∏–º –≤–∏—â–∞ —Å–µ—Ä–µ–¥–Ω—è —Ü—ñ–Ω–∞ –∑–∞ –æ–¥–∏–Ω–∏—Ü—é —Ç–∏ –≤–∏—â–∞ –∫—É–ø—ñ–≤–µ–ª—å–Ω–∞ —Å–ø—Ä–æ–º–æ–∂–Ω—ñ—Å—Ç—å —É –ø–æ–∫—É–ø—Ü—ñ–≤, —è–∫ –ø—Ä–∞–≤–∏–ª–æ, –∑–∞ –≤–∏—â—É —Ü—ñ–Ω—É
# –º–æ–∂–Ω–∞ –∫—É–ø–∏—Ç–∏ —è–∫—ñ—Å–Ω—ñ—à–∏–π —Ç–æ–≤–∞—Ä
# –ó –∞–Ω–∞–ª—ñ–∑—É –≤–∏–¥–Ω–æ, —â–æ –∫—É–ø—ñ–≤–µ–ª—å–Ω–∞ —Å–ø—Ä–æ–º–æ–∂–Ω—ñ—Å—Ç—å —É –º—ñ—Å—Ç–∞—Ö –ø—Ä–∞–∫—Ç–∏—á–Ω–æ –æ–¥–Ω–∞–∫–æ–≤–∞, –¥—É–º–∞—é,
# –≤–∞—Ä—Ç–æ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–æ–≤–∞—Ä—ñ–≤ –æ—Ä—ñ—î–Ω—Ç—É–≤–∞—Ç–∏ –Ω–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —Å–µ–≥–º–µ–Ω—Ç –ø–æ–∫—É–ø—Ü—ñ–≤.

df.groupby('City')['Unit price'].mean().sort_values(ascending=False)

City
Naypyitaw    56.609024
Mandalay     55.659277
Yangon       54.780853
Name: Unit price, dtype: float64